body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.Paginate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected {
  color: lightblue;
  border-bottom: 1px solid #000;
  font-weight: bold;
}
a {
  scroll-behavior: smooth;
}

/* .shadow {
  filter: brightness(50%);
}

.non-shadow {
  filter: brightness(100%);
} */
