body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.Paginate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
